@import "tailwindcss";

body{
  user-select: none;
}

@theme {
    /* Fuentes */
    --font-quicksand: "Quicksand", serif;
    --font-montserrat: "Montserrat", serif; 
    
    /* Colores */
    --black-bg:#1C1919;
    --color-title-hero: #FFFFFF;
    --color-button-green: #6FBB03;
    --color-button-red: #6B0301;
    --color-button-blue: #013882; 
    --color-text-red: #FD4441; 
    --color-text-green: #6FBB03; 
    --color-text-blue: #2782FF; 

    /* Breakpoints Hero */
    --breakpoint-hero-text-xlbig: 1750px;
    --breakpoint-hero-img-xlbig: 1750px;
    --breakpoint-hero-text-xbig: 1600px;
    --breakpoint-hero-img-xbig: 1600px;
    --breakpoint-hero-text-big: 1500px;
    --breakpoint-hero-img-big: 1500px;
    --breakpoint-hero-text-lg: 1300px;
    --breakpoint-hero-img-lg: 1300px;
    --breakpoint-hero-text-md: 1100px;
    --breakpoint-hero-img-md: 1100px;

    /* Breakpoint Services */
    --breakpoint-services-text-xlbig: 1750px;
    --breakpoint-services-img-xlbig: 1750px;
    --breakpoint-services-text-xbig: 1600px;
    --breakpoint-services-img-xbig: 1600px;
    --breakpoint-services-text-big: 1500px;
    --breakpoint-services-img-big: 1500px;
    --breakpoint-services-text-lg: 1300px;
    --breakpoint-services-img-lg: 1300px;
    
    /* Breakpoint About Us */
    --breakpoint-aboutUs-text-xlbig: 1750px;
    --breakpoint-aboutUs-img-xlbig: 1750px;
    --breakpoint-aboutUs-text-xbig: 1600px;
    --breakpoint-aboutUs-img-xbig: 1600px;
    --breakpoint-aboutUs-text-big: 1500px;
    --breakpoint-aboutUs-img-big: 1500px;
    --breakpoint-aboutUs-text-lg: 1300px;
    --breakpoint-aboutUs-img-lg: 1300px;
    --breakpoint-aboutUs-text-midLg: 1200px;
    --breakpoint-aboutUs-img-lg: 1300px;

    /* Breakpoint Contact-us */
    --breakpoint-contactUs-text-xlbig: 1750px;
    --breakpoint-contactUs-img-xlbig: 1750px;
    --breakpoint-contactUs-text-xbig: 1600px;
    --breakpoint-contactUs-img-xbig: 1600px;
    --breakpoint-contactUs-text-big: 1500px;
    --breakpoint-contactUs-img-big: 1500px;
    --breakpoint-contactUs-text-lg: 1300px;
    --breakpoint-contactUs-img-lg: 1300px;

    /* Breakpoint Shapes */
    --breakpoint-shapes-img-lg: 1300px;
}

@layer utilities {
  .theme-dark {
      background-color: #1C1919;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .theme-light {
      background-color: #FAFAFA;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  /* Versiones sin transición para el cargado inicial */
  .theme-dark-no-transition {
      background-color: #1C1919;
  }
  
  .theme-light-no-transition {
      background-color: white;
  }
}

/* Text colors */
.text-red{
  font-size: 1.5rem;
  color: var(--color-text-red)
}
.text-green{
  font-size: 1.5rem;
  color: var(--color-text-green)
}
.text-blue{
  font-size: 1.5rem;
  color: var(--color-text-blue)
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-red, .text-green, .text-blue, .text-animation {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}

.text-red, .text-animation-design {
  animation-delay: 0.5s;
}

.text-green, .text-animation-development {
  animation-delay: 2s; /* Aparece 1 segundo después */
}

.text-blue, .text-animation-ai {
  animation-delay: 3.5s; /* Aparece 2 segundos después */
}



/* Button Hero */
.button-hero{
    @apply rounded-3xl border w-48 py-2 pb-3 text-[1.1rem] hero-text-lg:text-xl font-light ;
}
.animate-button {
  animation: buttonAnimation 7.1s infinite;
}
/* Elimina el brillo cuando el tema es light */
.theme-light .animate-button {
  animation: buttonAnimation 7.1s infinite;
  filter: drop-shadow(0px 0px 5px #6FBB03);
}
/* Key Frames Button Hero */
@keyframes buttonAnimation {
  0% { 
    border-color: #6FBB03; 
    filter: drop-shadow(0px 0px 4px 0 #6FBB03);
  }
  55% { 
    border-color: #FD4441; 
    filter: drop-shadow(0px 0px 4px 0 #FD4441) brightness(1);
  }
  85% { 
    border-color: #2782FF; 
    filter: drop-shadow(0px 0px 4px 0 #2782FF) brightness(1);
  }
  100% { 
    border-color: #6FBB03; 
    filter: drop-shadow(0px 0px 4px 0 #6FBB03);
  }
}

/* Shapes Arrow */
.shapes-arrow {
  @apply w-8;
  transition: filter 0.3s ease;
  filter: brightness(2.5); /* Brillo aumentado */
}

/* Animación para mostrar las imágenes */
@keyframes showImage {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(0);
  }
}

/* Aparece con animación */
.animate-show {
  animation: showImage 2s infinite;
}

/* Agregar retrasos progresivos */
.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
